stry=https://artifactory.allstate.com/artifactory/api/npm/npm
strict-ssl=false
_auth = c3lzLWNmLWFyc3A6QVA3aUJGOUw4VGdhYzRpWWdqVnpLVXZxV3B5
always-auth = true
phantomjs_cdnurl=https://artifactory.allstate.com/artifactory/phantomjs
